*{
    margin: 0px;
    padding: 0px;
}

/* primary-button */
.primary-button{
    background-color: #f44a6f;
    width: 100px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 5px;
}

.container{
    width: 70%;
    margin: 0px auto;
    
}


/* header style */
header{
    background-color: #f7aabbe7;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.banner-des>p{
        width: 60%;
        color: #444343;
        margin-bottom: 20px;
}

.banner-des>h1{
    width: 45%;
    font-size: 5vh;
    margin-bottom: 20px;
    
}


/* banner style */
.banner-img{
    width: 60%;
    height: 390px;
    margin-top: 30px;
   
   
}

.banner-img>img{
  width: 100%;
 height: 100%;

}
  



/* featured flowers section */
main{
    margin-top: 110px;
}

.img-container{
    display: grid;
   grid-template-columns: repeat(3,1fr) ;
   height: 100%;
 
   
}


.section-des{
    width: 40%;
    margin: 50px auto;
    text-align: center;

}

.section-des>h1,.section-des>p{
    margin: 10px 0px;
    text-align: center;
   

}




.flower{
    width: 270px;
    height: 360px;
    background-color: #f44a6f;
    padding: 0px 20px;
    border-top-left-radius: 100% 80%;
    border-top-right-radius: 100% 80%;
   
    
}

.flower>h6{
    font-size: 2vh;
    text-decoration: underline;
    text-align: center;
    margin-top: 7px;
}

.flower>img{
    width:80%;
    height: 310px;
    margin-top: 50px;
    margin-left: 20px;

}

.flower-1{
    background-color: #f166a9;
}
.flower-2{
    background-color: #b7f2f5;
}
.flower-3{
    background-color: #bfeb92;
}
/* delivery section */

.icon-container{
   background-color: #dff7cc;
   margin: 70px 0px;
   height: 300px;
   
}


.icon{
margin: auto;
 
}
.icon>img{
  width: 88px;
  
}

.icon>h6{
    font-size: 2vh;
    margin-top: 10px;
}


#hot-deal{
    background-color: #ffcee6;
}

.hot-deal>h1{
    width: 100%;
}
.deal-img{
    margin: auto 0px;
    height:100%;
    margin: auto 0px;
}
.deal-img>img{
    width:50%;
    margin: 50px 0px;
   
}

span{
    color: #eb2651;
}


.instagram{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
}

.flower-img>img{
 width: 90%;
 background-color: #444343;
}

#news-letter>.container{
    background-image: url('./Flower\ Asset/Rectangle 9.png');
    background-size: cover;
    padding: 40px 0px;
    margin-top: 100px;
   
}


.from{
   width: 70%;
 margin: 10px auto;
 
}

.from>from{
  display: flex;
  justify-content: center;
  
   
}
.from>from>input{
    border-radius: 7px;
   flex-grow: 1;
   padding: 10px 10px;
   margin-right: 5px;
  border: none;
  background-color: white;
  box-shadow: 5px 5px 40px rgba(69, 65, 65, 0.5);
   
}

footer{
    background-color: black;
    height: 300px;
   display: flex;
   gap: 10px;
   align-items: center;
   
}

footer>.section-des>h1{
    color: white;
    
}

footer>.section-des>p{
    color: #edd6d6;
}

